
<div class="container">
  <div class="page-header">
    <i class="ri-arrow-left-s-line"></i>
    <div class="title">Mes idées de projet</div>
  </div>

  <div class="idee-cadre">
    <div class="card">
      <div class="card-header">
        <h3 class="project-title">Nianaboli</h3>
        <div class="header-actions">
          <span class="tag">Collaboration</span>
          <i class="ri-more-2-fill"></i>
        </div>
      </div>
      <p class="description">
        Nianaboli est une application console conçue pour permettre aux utilisateurs de gérer et de partager
      </p>
      <div class="cahier-de-charge">
        <i class="ri-file-text-line"></i>
        <span>Voir le cahier des charges</span>
      </div>
      <div class="card-footer">
        <span class="date">Publié : 03/08/2025</span>
        <div class="interaction">
          <div class="interaction-item">
            <i class="ri-chat-3-line"></i>
            <span>235</span>
          </div>
          <div class="interaction-item">
            <i class="ri-thumb-up-line"></i>
            <span>65</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="project-title">Nianaboli</h3>
        <div class="header-actions">
          <span class="tag">Collaboration</span>
          <i class="ri-more-2-fill"></i>
        </div>
      </div>
      <p class="description">
        Nianaboli est une application console conçue pour permettre aux utilisateurs de gérer et de partager
      </p>
      <div class="cahier-de-charge">
        <i class="ri-file-text-line"></i>
        <span>Voir le cahier des charges</span>
      </div>
      <div class="card-footer">
        <span class="date">Publié : 03/08/2025</span>
        <div class="interaction">
          <div class="interaction-item">
            <i class="ri-chat-3-line"></i>
            <span>235</span>
          </div>
          <div class="interaction-item">
            <i class="ri-thumb-up-line"></i>
            <span>65</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="project-title">Nianaboli</h3>
        <div class="header-actions">
          <span class="tag">Collaboration</span>
          <i class="ri-more-2-fill"></i>
        </div>
      </div>
      <p class="description">
        Nianaboli est une application console conçue pour permettre aux utilisateurs de gérer et de partager
      </p>
      <div class="cahier-de-charge">
        <i class="ri-file-text-line"></i>
        <span>Voir le cahier des charges</span>
      </div>
      <div class="card-footer">
        <span class="date">Publié : 03/08/2025</span>
        <div class="interaction">
          <div class="interaction-item">
            <i class="ri-chat-3-line"></i>
            <span>235</span>
          </div>
          <div class="interaction-item">
            <i class="ri-thumb-up-line"></i>
            <span>65</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="project-title">Nianaboli</h3>
        <div class="header-actions">
          <span class="tag">Collaboration</span>
          <i class="ri-more-2-fill"></i>
        </div>
      </div>
      <p class="description">
        Nianaboli est une application console conçue pour permettre aux utilisateurs de gérer et de partager
      </p>
      <div class="cahier-de-charge">
        <i class="ri-file-text-line"></i>
        <span>Voir le cahier des charges</span>
      </div>
      <div class="card-footer">
        <span class="date">Publié : 03/08/2025</span>
        <div class="interaction">
          <div class="interaction-item">
            <i class="ri-chat-3-line"></i>
            <span>235</span>
          </div>
          <div class="interaction-item">
            <i class="ri-thumb-up-line"></i>
            <span>65</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
