
<div class="container">
  <div class="page-header">
    <div class="title">Mes idées de projet</div>
  </div>

  <div class="idee-cadre">
    @for (idee of mesProjets; track $index) {
    <div class="card">
      <div class="card-header">
        <h3 class="project-title">{{idee.titre}}</h3>
        <div class="header-actions">
          <span class="tag">{{idee.domaine[0]}}</span>
          <i class="ri-more-2-fill"></i>
        </div>
      </div>
      <p class="description">
        {{idee.description}}
      </p>
      <div class="cahier-de-charge">
        <i class="ri-file-text-line"></i>
        <span>Voir le cahier des charges</span>
      </div>
      <div class="card-footer">
        <span class="date">Publié : {{idee.datePublication}}</span>
        <div class="interaction">
          <div class="interaction-item">
            <i class="ri-chat-3-line"></i>
            <span>235</span>
          </div>
          <div class="interaction-item">
            <i class="ri-thumb-up-line"></i>
            <span>{{idee.nombreSoutien}}</span>
          </div>
        </div>
        @if (gestionnaire) {
        <button type="button" (click)="cliqueMoi(idee)" >Créé un Projet</button>
        }
      </div>
    </div>
    }

  </div>
</div>

@if (gestionnaire) {
  <app-liste-idee-projet></app-liste-idee-projet>
}
