<div class="main">
    <app-search-bar></app-search-bar>
    <div class="left">
         <nav class="sidebar-menu">
      <ul>
        <li class="active">
          <img src="assets/icons/idea.png" alt="Idée" />
          <span>Idée de Projet</span>
        </li>
        <li>
          <img src="assets/icons/project.png" alt="Projet" />
          <span>Mes projets</span>
        </li>
        <li>
          <img src="assets/icons/contact.png" alt="Contact" />
          <span>Contact Gestionnaire</span>
        </li>
      </ul>
    </nav>
    </div>

    <div class="right">
        <h2>
            Votre vision, notre Collaboration, un succès partagé .
        </h2>
        <img src="/imgLog3.png" alt="">
        <div>
            <img src="" alt="">
            <span>Moussa</span>
        </div>
    </div>
</div>

