
<div class="main-frame">
    <a href="#" class="retour"><i class="ri-arrow-left-s-line"></i> Retour</a>
  <div class="illustration">
    <img src="proposerIdee.png" alt="Illustration de brainstorming" />
        <p style="text-align: center;">Donnez vie à vos idées, Reinventez la Collaboration</p>
  </div>
  <div class="form-frame">
    <h2>Proposer votre idée</h2>
    <input type="text" placeholder="Titre" />
    <textarea placeholder="Description"></textarea>
    <select>
      <option value="">Sélectionnez un domaine</option>
      <option value="technologie">Technologie</option>
      <option value="santé">Santé</option>
      <option value="éducation">Éducation</option>
      <option value="environnement">Environnement</option>
      <option value="finance">Finance</option>
      <option value="art">Art</option>
      <option value="autre">Autre</option>
    </select>
    <label for="file-upload" class="file-label">Téléverser cahier de charge</label>
    <input type="file" id="file-upload" />
    <button>Envoyer</button>
  </div>
</div>
