<div class="contenair">
  <div class="row1">

    <div class="image">
      <img src="contributeur.png" alt="">
    </div>
    <div class="right">
      <img src="logoP.png" alt="">
      <h1>Contributeur</h1>
      <form [formGroup]="formulaireContributeur" (ngSubmit)="valider()" enctype="multipart/form-data" >
        <div class="radio">
          <h2>Choisir un rôle</h2>
          <select formControlName="type" required>
            <option value="">-- Sélectionner un type --</option>
            <option value="DEV_FULLSTACK">DEV FULLSTACK</option>
            <option value="DEV_MOBILE">DEV MOBILE</option>
            <option value="DEV_FRONT_END">DEV FRONTEND</option>
            <option value="DEV_BACK_END">DEV BACKEND</option>
            <option value="DESIGNER">DESIGNER</option>
            <option value="TESTER">TESTER</option>
            <option value="DEV_OPS">DEV OPS</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" id="nom" formControlName="specialite" required placeholder="Specialité">
        </div>
        <div class="file-upload">
          <p class="p">Glissez déposez ou <strong>Parcourez votre bibliothèque</strong> </p>
          <input type="file" (change)="fichierSelectionner($event)" accept=".pdf,.doc,.docx"/>
        </div>
        <input type="checkbox" formControlName="condition" id="condition">
        <label for="condition">Accepter les <a routerLink="/choix" routerLinkActive="router-link-active" >conditions générales d’utilisation</a>.</label><br>
        <input type="submit" [disabled]="!formulaireContributeur.valid" value="S'inscrire">
      </form>
    </div>

  </div>


  <div class=" row2">
        <p>Vous avez deja un compte ? </p>
        <a routerLink="/login">Connectez-vous.</a>
  </div>
</div>
