.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10%;
    padding-left: 2.5%;
    transition: margin-left 0.3s ease;
    /* width: 90%; */
    overflow-y: auto;
}
.container.longContainer{
  margin-left: 4.5%;
}
/* .sidebar{
  width: 150px;
} */
