<div class="principal-container" [class.isExpanded]="isExpanded">
    <div class="left-container">
        <div class="ideas-text-container">
            <h1 class="ideas-text">Mes idées de projet</h1>
            <div class="line"></div>
            <div class="sortby-container">
                <select name="sortby" id="sortby" class="sortby">
                    <option value="recent">Récentes</option>
                    <option value="old">Anciennes</option>
                </select>
            </div>
        </div>
        <div class="ideas-container">
            @for (ideeProjet of ideesProjet; track ideeProjet.id) {
                <div class="idea-container">
                    <div class="idea-title-container">
                        <h2 class="idea-title">{{ideeProjet.titre}}</h2>
                        <p class="idea-date">{{ideeProjet.datePublication | elapsedTime}}</p>
                        <i class="ri-more-2-fill idea-option"></i>
                    </div>
                    <div class="idea-domaines-container">
                        @for (domaine of ideeProjet.domaine; track $index) {
                            <div class="idea-domaine-container">{{labelFromEnum(domaine.toString())}}</div>
                        }
                    </div>
                    <div class="idea-description-container">
                        {{ideeProjet.description}}
                    </div>
                    <div class="idea-cdc-container">
                        <i class="ri-file-pdf-2-line idea-pdf-logo"></i>
                        <p class="idea-pdf-text"><u>Voir le cahier des charges</u></p>
                        @if (isHelped(ideeProjet.id)){
                            <i class="ri-hand-heart-fill idea-help" (click)="helpIdea(ideeProjet.id)" [class.isHelped]="isHelped(ideeProjet.id)"></i>
                        } @else {
                            <i class="ri-hand-heart-line idea-help" (click)="helpIdea(ideeProjet.id)" [class.isHelped]="isHelped(ideeProjet.id)"></i>
                        }
                    </div>
                    @if(ideeProjet.commentaireIdeeProjets.length !== 0) {
                        <div class="idea-comments-container">
                            <div class="idea-comments-header">
                                <i class="ri-question-answer-line idea-comments-logo"></i>
                                <p class="idea-comments-text">Commentaires</p>
                                <p class="idea-comments-see-more"><u>Voir plus</u></p>
                            </div>
                                <div class="idea-comments-body">
                                    @if(ideeProjet.commentaireIdeeProjets[0]) {
                                        <div class="comment">
                                            <div class="comment-header">
                                                <img src="ghost.jpg" alt="Photo de Ghost" class="comment-user-profile">
                                                <p class="comment-user-name">Par <strong>{{ideeProjet.commentaireIdeeProjets[0].utilisateur.prenom}} {{ideeProjet.commentaireIdeeProjets[0].utilisateur.nom}}</strong></p>
                                                <p class="comment-date">{{ideeProjet.commentaireIdeeProjets[0].dateCommentaire | elapsedTime}}</p>
                                            </div>
                                            <div class="comment-body">
                                                <p class="comment-content">{{ideeProjet.commentaireIdeeProjets[0].contenu}}</p>
                                            </div>
                                        </div>
                                    }
                                    @if(ideeProjet.commentaireIdeeProjets[1]) {
                                        <div class="comment">
                                            <div class="comment-header">
                                                <img src="ghost.jpg" alt="Photo de Ghost" class="comment-user-profile">
                                                <p class="comment-user-name">Par <strong>{{ideeProjet.commentaireIdeeProjets[1].utilisateur.prenom}} {{ideeProjet.commentaireIdeeProjets[1].utilisateur.nom}}</strong></p>
                                                <p class="comment-date">{{ideeProjet.commentaireIdeeProjets[1].dateCommentaire | elapsedTime}}</p>
                                            </div>
                                            <div class="comment-body">
                                                <p class="comment-content">{{ideeProjet.commentaireIdeeProjets[1].contenu}}</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                        </div>
                    } @else {
                        <div class="idea-comments-container">
                            <div class="idea-comments-header">
                                <i class="ri-question-answer-line idea-comments-logo"></i>
                                <p class="idea-comments-text">Commentaires</p>
                            </div>
                                <div class="idea-comments-body">
                                    <div class="idea-comments-no-comment">
                                        Pas de commentaires!
                                    </div>
                                </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="right-container">
        <h1 class="right-first-text" [class.expanded]="isExpanded">Et si votre idée devenait le prochain grand projet?</h1>
        <img src="idees-projet.png" alt="Image d'un utilisateur qui propose des idées" class="idea-image" [class.expanded]="isExpanded">
        <p class="right-second-text" [class.expanded]="isExpanded">Partagez votre idée, et ensemble, faisons-en quelque chose de concret et d'impactant.</p>
        <div class="propose-button" [class.expanded]="isExpanded" routerLink="proposer">
            <p style="color: white; font-size: 14pt;">Proposer une idée de projet</p>
        </div>
    </div>
</div>