<div id="lateral-nav">
   <div class="logo">
                <img src="image 40.png" alt="logo collabdev" class="logo-image">
                
    </div>
   <nav>
        <ul>
            <li>
                <img src="" alt="" class="sidebar-icone">
                <a routerLink='' routerLinkActive="router-link-active"></a>
            </li>
            <li>
                <img src="" alt="" class="sidebar-icone">
                 <a routerLink='' routerLinkActive="router-link-active"></a>
            </li>
            <li>
                
                <img src="" alt="" class="sidebar-icone">
                 <a routerLink='' routerLinkActive="router-link-active"></a>
            </li>
            <li>
                <img src="" alt="" class="sidebar-icone">
                 <a routerLink='' routerLinkActive="router-link-active"></a>
            </li>
        </ul>
   </nav> 
</div>
