<div class="container">
  <div class="header">
    <div class="arrow-left"  routerLink="./mes_projets">←</div>
    <div class="title">Projet Suivi</div>
  </div>
  <div class="content">
    <div class="card">
      <div class="card-left">
        <div class="project-title">CollabDev</div>
        <div class="person-info">
          <span class="icon">👤</span>
          <span class="name">Mme D. Fatoumata K.</span>
        </div>
      </div>
      <div class="card-right">
        <button class="button">Suivi</button>
      </div>
    </div>
    <div class="card">
      <div class="card-left">
        <div class="project-title">CollabDev</div>
        <div class="person-info">
          <span class="icon">👤</span>
          <span class="name">Mme D. Fatoumata K.</span>
        </div>
      </div>
      <div class="card-right">
        <button class="button">Suivi</button>
      </div>
    </div>
    <div class="card">
      <div class="card-left">
        <div class="project-title">CollabDev</div>
        <div class="person-info">
          <span class="icon">👤</span>
          <span class="name">Mme D. Fatoumata K.</span>
        </div>
      </div>
      <div class="card-right">
        <button class="button">Suivi</button>
      </div>
    </div>
    <div class="card">
      <div class="card-left">
        <div class="project-title">CollabDev</div>
        <div class="person-info">
          <span class="icon">👤</span>
          <span class="name">Mme D. Fatoumata K.</span>
        </div>
      </div>
      <div class="card-right">
        <button class="button">Suivi</button>
      </div>
    </div>
    <div class="card">
      <div class="card-left">
        <div class="project-title">CollabDev</div>
        <div class="person-info">
          <span class="icon">👤</span>
          <span class="name">Mme D. Fatoumata K.</span>
        </div>
      </div>
      <div class="card-right">
        <button class="button">Suivi</button>
      </div>
    </div>
  </div>
</div>
