<div id="main">
  <div id="lateral-nav">
    nav-lateral component
  </div>
  <div id="dashboard">
    <div id="en-tete">
      <h3>
        Heureux de vous revoir
        <span [ngStyle]="{ color: '#F6C434' }">Kadiatou Tall</span><br />
        Gerer vos projets en toute simplicité
      </h3>
     
    </div>
    <div id="contributions">
      <div>
        <h4 class="sous-titre">Contributions à valider</h4>
        <button class="tous-voir">Tous voir</button>
      </div>
      <div id="statistiques">
        <h5>Projets</h5>
        <h2>5</h2>
      </div>
    </div>
    <div id="projet-recent">
        <h4 class="sous-titre">Projets récents</h4>
        <button class="tous-voir">Tous voir</button>
    </div>
    <div id="demande-contribution">
        <h4 class="sous-titre">Démandes de contribution</h4>
    </div>
  </div>
</div>
