<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">CHARGEMENT...</p>
</ngx-spinner>
<div id="main">
  <div class="dashboard" [class.long-dashboard]="!sidebarOpen">

    <div id="en-tete">
      <h3>
        Heureux de vous revoir
        <span [ngStyle]="{ color: '#F6C434' }"
          >{{ user.prenom }} {{ user.nom }}</span
        ><br />
        Gerer vos projets en toute simplicité
      </h3>
      <img src="/gestionnnairedashboard.png" alt="image" />
    </div>

    <div class="side-bar-open" [class.side-bar-close]="!sidebarOpen">
      <div id="contributions">
        <div class="contribution-card">
          <span class="titre">
            <h4 class="sous-titre">Contributions à valider</h4>
            <button class="tous-voir">Tous voir</button>
          </span>

          <div class="contribution-list">
            @for (contributions of contributionsList; track $index) {
              <app-cardcontribution [contribution]="contributions"/>
            }

          </div>
        </div>
        <div class="statistiques" [class.decale]="!sidebarOpen">
          <div class="icon-wrapper">
            <i class="ri-archive-stack-line"></i>
          </div>

          <h5>Projets</h5>

  <div class="en-cours">
    <span id="en-cours">{{nbreProjetsEnCours}}</span>
    <p>En cours</p>
  </div>

  <div class="realises">
    <hr id="realise" />
    <p>{{nbreProjetsTermine}} Réalisés</p>
  </div>
</div>

      </div>

      <div id="projet-recents">
        <span class="titre">
          @if (tout) {
          <h4 class="sous-titre">Tous les Projets</h4>
            <button class="tous-voir" (click)="voirMois()" style="cursor: pointer;">Voir Moins</button>
          }@else{
          <h4 class="sous-titre">Projets récents</h4>
            <button class="tous-voir" (click)="voirTous()" style="cursor: pointer;">Tous voir</button>
          }
        </span>
        <div class="card-content">
          @if(tout){
            @for (projet of toutProjet; track $index) {
              <app-cardprojet [projets]="projet"></app-cardprojet>
            }
          }@else {
            @for (projet of projetsRecents; track $index) {
              <app-cardprojet [projets]="projet"></app-cardprojet>
            }
          }
        </div>

      </div>
    </div>

    <div id="demande-contribution">
      <h4 class="sous-titre">Démandes de contribution</h4>
      <table>
        <thead class="table-header">
          <tr>
            <th id="devant">Projet</th>
            <th>Contributeur</th>
            <th>Date d'envoie</th>
            <th>Profil contributeur</th>
            <th id="derriere">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            @if(demandeContributions.length > 0)
            {
              @for (demande of demandeContributions; track $index) {
                <td>{{demande.projetNom}}</td>
                <td>{{demande.contributeurNom}}</td>
                <td>{{demande.dateEnvoi}}</td>
                <td>{{demande.profileContributeur}}</td>
                <td class="actions">
                  <button id="accepte" (click)="openPopups('accept',demande)">Accepté</button>
                  <button id="refuse" (click)="openPopups('decline',demande)">Refusé</button>
                </td>
              }
            }
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  @if(ispopupVisible === true){
    <app-pop-ups (close)="closePopups($event)"></app-pop-ups>
  }
</div>
