
<app-recherchebarre></app-recherchebarre>
<app-side-bar></app-side-bar> 


 
<aside class="gauche">
   Barre de menu sous le header 
  <div class="en-tete">
    <div class="ideeprojet">
      <i class="ri-lightbulb-flash-line" style="font-size: 20px;"></i>
      <span>Idée de projet</span>
    </div>
    <div class="projet">
      <i class="ri-folder-2-line" style="font-size: 20px;"></i>
      <span>Mes projets</span>
    </div>
    <div class="gestionnaire">
      <i class="ri-health-book-line" style="font-size: 20px;"></i>
      <span>Contact Gestionnaire</span>
    </div>
  </div>

   
  <div class="contenu">
    <article class="carte carte-projet">
  <h4 class="titre-projet">Nianaboli</h4>
  <p class="description-projet">
    Nianaboli est une application console conçue pour permettre aux utilisateurs de gérer et de partager.
  </p>

  <div class="meta-donnees">Publié : 03/08/2025</div>

  <div class="ligne-meta">
    <div class="auteur">
      <div class="avatar"><i class="ri-user-3-fill"></i></div>
      <div class="infos">
        <div class="nom">Niakale Diakité</div>
        <div class="fonction">Porteur de l'idée</div>
      </div>
    </div>

    <div class="actions" aria-label="commentaire et like">
      <span class="action" title="Commentaires">
        <i class="ri-message-2-line" aria-hidden="true"></i>
        <span>18</span>
      </span>
      <span class="action" title="Likes">
        <i class="ri-hand-heart-line" aria-hidden="true"></i>
        <span>235</span>
      </span>
    </div>
  </div>
</article>
 
<article class="carte carte-projet">
  <h4 class="titre-projet">Collabdev</h4>
  <p class="description-projet">
    Ce projet est un projet permettant à des porteurs de projet de proposer des idées de projet, et à des contributeurs de participer à la réalisation des projets.
  </p>

  <div class="meta-donnees">Publié : 03/08/2025</div>

  <div class="ligne-meta">
    <div class="auteur">
      <div class="avatar"><i class="ri-user-3-fill"></i></div>
      <div class="infos">
        <div class="nom">Niakale Diakité</div>
        <div class="fonction">Porteur de l'idée</div>
      </div>
    </div>

    <div class="actions" aria-label="commentaire et like">
      <span class="action" title="Commentaires">
        <i class="ri-message-2-line" aria-hidden="true"></i>
        <span>12</span>
      </span>
      <span class="action" title="Likes">
        <i class="ri-hand-heart-line" aria-hidden="true"></i>
        <span>198</span>
      </span>
    </div>
  </div>
</article>

<button class="voir-plus">Voir plus →</button>
  </div>
</aside>



 
<aside class="droite">
  <div class="bloc-droite">
    < h2 class="slogan" style= "font-size: 24px;" >
      <em>Votre vision, notre Collaboration, un <br> succès partagé .</em>
    </h2>

     
    <div class="illustration">
      <img src="contributeur.png" alt="Illustration collaboration" />
    </div>
  </div>
</aside>
<app-footer></app-footer>