<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">CHARGEMENT...</p>
</ngx-spinner>
<div class="layout-container">


    <div class="content-frame">
      <div class="form-card-container">
        <div class="form-section">
          <div class="logo">
            <img src="logoP.png" alt="Logo" />
          </div>
          <div class="form-content">
            <input type="text" placeholder="Titre" [(ngModel)]="projetIdee.titre" />
            <textarea placeholder="Description" [(ngModel)]="projetIdee.description"></textarea>
            <div class="form-row">
              <select [(ngModel)]="projetIdee.niveauDAcces">
                <option value="" selected>Niveau d'accès</option>
                <!-- @for (niveau of niveaux; track $index) { -->
                <option value="DEBUTANT">DEBUTANT</option>
                <option value="INTERMEDIAIRE">INTERMEDIAIRE</option>
                <option value="DIFFICILE">DIFFICILE</option>
                <option value="COMPLEXE">COMPLEXE</option>
                <!-- } -->
              </select>
              <input type="number" [(ngModel)]="projetIdee.piecesDAcces">
            </div>
            <div class="form-row">
              <input type="date" placeholder="Date début"  [(ngModel)]="dateDebut" />
              <input type="date" placeholder="Date fin"  [(ngModel)]="dateFin" />
            </div>
            <button (click)="onSubmit()">Créer</button>
          </div>
        </div>

        <div class="illustration-section">
          <div class="illustration-content">
            <h3>Transformez vos rêves en projets concrets</h3>

            <img src="projet.png" alt="Illustration" class="illustration-image" />
            <p>Démarrez maintenant !</p>
          </div>
        </div>
      </div>
    </div>
  </div>
