<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">CHARGEMENT...</p>
</ngx-spinner>
<div class="layout-container">
  <div class="content-frame">
    <div class="form-card-container">
      <div class="form-section">
        <div class="logo">
          <img src="logoP.png" alt="Logo" />
        </div>
        <div class="form-content">
          <div class="form-group">
            <label for="titre">Titre</label>
            <input id="titre" type="text" [(ngModel)]="projetIdee.titre" />
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" [(ngModel)]="projetIdee.description"></textarea>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="niveauAcces">Niveau d'accès</label>
              <select id="niveauAcces" [(ngModel)]="projetIdee.niveauDAcces">
                <option value="" selected>Choisir un niveau</option>
                <option value="DEBUTANT">DEBUTANT</option>
                <option value="INTERMEDIAIRE">INTERMEDIAIRE</option>
                <option value="DIFFICILE">DIFFICILE</option>
                <option value="COMPLEXE">COMPLEXE</option>
              </select>
            </div>
            <div class="form-group">
              <label for="piecesAcces">Pièces d'accès</label>
              <input id="piecesAcces" type="number" [(ngModel)]="projetIdee.piecesDAcces" />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label for="dateDebut">Date de début</label>
              <input id="dateDebut" type="date" [(ngModel)]="dateDebut" />
            </div>
            <div class="form-group">
              <label for="dateFin">Date de fin</label>
              <input id="dateFin" type="date" [(ngModel)]="dateFin" />
            </div>
          </div>
          <button (click)="onSubmit()">Créer</button>
        </div>
      </div>

      <div class="illustration-section">
        <div class="illustration-content">
          <h3>Transformez vos rêves en projets concrets</h3>
          <img src="projet.png" alt="Illustration" class="illustration-image" />
          <p>Démarrez maintenant !</p>
        </div>
      </div>
    </div>
  </div>
</div>