<div class="layout-container">


    <div class="content-frame">
      <div class="form-card-container">
        <div class="form-section">
          <div class="logo">
            <img src="logoP.png" alt="Logo" />
          </div>
          <div class="form-content">
            <input type="text" placeholder="Titre" />
            <textarea placeholder="Description"></textarea>
            <div class="form-row">
              <select>
                <option value="">Niveau d'accès</option>
              </select>
              <select>
                <option value="">Pièce d'accès</option>
              </select>
            </div>
            <div class="form-row">
              <input type="date" placeholder="Date début" />
              <input type="date" placeholder="Date fin" />
            </div>
            <button>Créer</button>
          </div>
        </div>
        
        <div class="illustration-section">
          <div class="illustration-content">
            <h3>Transformez vos rêves en projets concrets</h3>
          
            <img src="projet.png" alt="Illustration" class="illustration-image" />
            <p>Démarrez maintenant !</p>
          </div>
        </div>
      </div>
    </div>
  </div>



