<div class="card" (click)="voirdetail(projets)">
  <div class="card-header">
    <div class="en-tete">
      <span class="date">{{ projets.dateDebut | date:'dd/MMM/yyyy' }}</span>
      <i class="ri-bookmark-line"></i>
    </div>
    <div class="milieu">
      <p class="title">
        {{ projets.titre | slice:0:20 }}{{ projets.titre.length > 20 ? '…' : '' }}
      </p>
      <span class="desc">
        {{ projets.description | slice:0:50 }}{{ projets.description.length > 50 ? '…' : '' }}
      </span>
    </div>
  </div>
  <div class="level">{{ projets.niveauDAcces }}</div>
  <div class="bas">
    <i class="ri-account-circle-line"></i>
    <button class="visualiser-btn" (click)="voirdetail(projets)">Visualiser</button>
  </div>
</div>
