<div class="card" (click)="voirdetail(projets)" style="cursor:pointer;">
  <div class="card-header">
    <div class="en-tete">
      <span class="date">{{ projets.dateDebut | date:'dd/MMM/yyyy' }}</span>
      <i class="ri-bookmark-line" style="color: white; font-size: 25px"></i>
    </div>
    <div class="milieu">
      <p class="title">
        {{ projets.titre | slice:0:10 }}{{ projets.titre.length > 10 ? '…' : '' }}
      </p>
      <span>
        {{ projets.description | slice:0:20 }}{{ projets.description.length > 20 ? '…' : '' }}
      </span>
    </div>
  </div>
  <div class="level">{{ projets.niveauDAcces }}</div>
  <div class="bas">
    <i class="ri-account-circle-line" style="color: #334DAA; font-size: 25px;"></i>
    <button class="visualiser-btn" (click)="voirdetail(projets)" style="cursor:pointer;">
      Visualiser
    </button>
  </div>
</div>
